tweepy==3.8.0
Flask==1.1.1
Flask-Cors==3.0.8
pandas
python-dotenv
sqlalchemy==1.3.13
tensorflow >= 1.11.0   # CPU Version of TensorFlow.
psycopg2-binary==2.8.4
numpy==1.22.0
scikit-learn==0.22.1
tensorflow-hub==0.7.0
keras==2.3.1
nltk==3.4.5
wordcloud
sentencepiece
# tensorflow-gpu  >= 1.11.0  # GPU version of TensorFlow.
